@model OneClickDelivery.Models.MenuSection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuSection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.MenuImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.MenuImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuSectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
